.gradle
/logs/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/build/
/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/dependencies_scripts/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/dependencies_scripts
